body { 
    background-color: aqua; 
}

h1 {
    color: yellow;
    font-size: 36pt;
}
.photo {
    width: 100%;
}

@media all and (min-width: 600px) {
    body { 
        background-color: #FF00DD; 
    }
    
    h1 {
        color: yellow;
        font-size: 36pt;
    }
    .photo {
        width: 45%;
    }
}

@media all and (min-width: 1024px) {


body { 
    background-color: #AAFFDD; 
}

h1 {
    color: blue;
    font-size: 24px;
}
.photo {
    width: 22%;
}
}


div {
    font-size: 1.3em;
    color: red;
}

div h1 {
    font-size: 72pt;
}